@media (max-width: 991px) { 
    .site-header__mobile-menu {
        display: block;
    }
    .site-header__menu {
        display: none;
    }
    .header-form__head {
        border-top: 1px solid #B3B3B3;
    }
    
    .header-banner__bottom {
        margin-top: 75px;
    }
    
    section.homepage__header {
        height: auto;
    }
    
   
    .header-form_body {
        display: flex;
        flex-flow: row;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .homepage__header-form .header-form_body-title {
        text-align: left;
        margin: 0;
        height: 100%;
        width: 50%;
        padding-top: 60px;
        padding-right: 25px;
    }
    
    .header-form_body form {
        height: 100%;
        width: 67%;
        max-width: none;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .header-form_body form .wpcf7-list-item-label{
        font-size: 14px;
    }

    .wpcf7-checkbox input[type=checkbox] + span:before{
        top: 6px;
    }

    .header-form_body .wpcf7 {
        width: 50%;
        border-left: 1px solid #B3B3B3;
    }

    .header-form_body form .form-control{
        min-width: 250px;
    }
    
    .bottom-bar__wrapper a:last-child {
        margin-right: 60px;
    }
    .homepage__banner-background {
        height: 310px;
        font-size: 65px;
        line-height: 62px;
        padding-left: 9px;
    }
    
    .footer__bottom-qr {
        margin-top: 40px;
    }

    .homepage__banner-background br {
        display: none;
    }
    .about-col__descript {
        margin-bottom: 25px;
    }
    footer.footer__bottom .row {
        flex-flow: column-reverse;
    }
    
    .footer__bottom-img {
        padding-top: 60px;
    }
    
    section.homepage__form-block {
        padding-bottom: 60px;
    }
    
    .footer__bottom .title_ui {
        padding-top: 50px;
    }
    
    .footer__bottom-button {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    
    .footer__bottom .button_ui {
        max-width: 320px;
        width: 100%;
    }
    .faq__qestions-block{
        margin-top: 80px;
        border-top: 1px solid #E1E1E1;
    } 

    section.homepage__header.homepage__header_st2{
        height: inherit;
        min-height: inherit;
    }

    .works-items.items-col-4 .works-item {
        width: 50%;
    }
}

@media (max-width: 768px) { 
    input[type=submit].button_form{
        height: 85px;
        max-width: 275px;
        padding-top: 30px;
        margin-top: 17px;
    }

    input.input_ui{
        height: 60px;
    }

    .about-col {
        padding-top: 80px;
    }

    section.homepage__form-block{
        padding-top: 11px;
    }

    .homepage__form-block .form-block__title{
        padding-bottom: 17px;
        margin-right: -15px;
        margin-left: -15px;
    }

    .header-form_body-title{
        margin-top: 50px;
    }

    .form-block__body .wpcf7{
        margin-top: 45px;
    }

    .wpcf7-checkbox input[type=checkbox] + span:before {
        top: 3px;
    }
    
    .form-block__body input[type=submit].button_form{
        max-width: 380px;
    }
}

@media (max-width: 680px) { 
    .footer__bottom-contact_mobile {
        display: block;
    }

    .about-col {
        padding-top: 60px;
    }

    .title_ui {
        font-size: 30px;
        line-height: 30px;
    }

    .homepage__banner-background {
        font-size: 46px;
        line-height: 44px;
        height: 355px;
        background-size: auto 100%;
        background-position: center;
        margin-left: 15px;
    }
    
    .header-form_body {
        flex-flow: column;
        height: auto;
        align-items: center;
    }
    .footer__bottom-qr {
        display: none;
    }

    .footer__bottom-qr-mobile {
        text-align: center;
    }

    .footer__bottom-qr-mobile { 
        display: block;
    }
    
    .header-form_body form {
        width: 100%;
        border: 0px;
        padding: 0px 0px 48px 0px;
    }
    
    .homepage__header-form .header-form_body-title {
        text-align: center;
        width: 100%;
        padding: 40px 25px;
    }

    .header-banner__title {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .header-banner__title h1.title_ui {
        font-size: 38px;
        line-height: 38px;
    }

    .header-banner__title h1.title_ui br {
        display: none;
    }
    .bottom-bar.fixed-bottom {
        display: none;
    }
    .footer__bottom-contact {
        display: flex;
        align-items: end;
        padding: 50px 0px 25px 0px;
    }
    
    .footer__bottom-social {
        padding: 0px;
        flex-flow: column;
        width: 50%;
    }
    
    .footer__bottom-contact_mobile {
        display: flex;
        flex-flow: column;
        width: 50%;
    }
    
    .footer__bottom-social a {
        margin: 0px;
        margin-top: 5px;
        text-align: left;
    }
    
    .footer__bottom-contact_mobile a {
        font-size: 12px;
        line-height: 13px;
        text-align: left;
        margin-top: 5px;
        letter-spacing: -0.02em;
        color: #000;
    }
   .faq__section .faq__title{
        font-size: 38px;
    }

    .faq__qestion-wrapper .qestion-wrapper__qestion .qestion__count, 
    .faq__qestion-wrapper .qestion-wrapper__qestion .qestion__title{
        font-size: 20px;
    }

    .qestion-wrapper__body{
        margin-left: 43px;
        padding-top: 0;
        font-size: 18px;
    }

    .faq__qestion-wrapper .qestion-wrapper__button{
        padding: 20px 15px; 
    }

    .qestion-wrapper__body{
        padding-top: 0;
        padding-bottom: 20px;
    }

    .works-item__info-wrapper {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    a.work-item__wrapper {
        order: 2;
        text-align: center;
        margin-top: 15px;
    }

    .header-form__head{
        font-size: 43px;
        line-height: 100%;
        padding-top: 23px;
        padding-bottom: 17px;
    }

    .works-items.items-col-2 .works-item {
        width: 100%;
    }

    .header-form_body .wpcf7{
        border: none;
        width: 100%;
    }

    .homepage__about a.button_ui {
        margin: 0 auto;
        margin-top: 30px;
        display: block;
        width: 270px;
        padding: 16px 25px;
    }

    .about-col .about-col__descript{
        margin-top: 29px;
        margin-bottom: 40px;
    }

    .about-col .title_ui{
        font-size: 48px;
    }

    section.homepage__about{
        margin-bottom: 0;
        padding-bottom: 15px;
    }


    .header-form_body form .wpcf7-list-item-label{
        font-size: 16px;
    }

    .form-block__body input[type=submit].button_form {
        max-width: 275px;
    }

    .homepage__form-block .form-block__title{
        font-size: 60px;
    }

    span#checkbox.form-control{
        padding-right: 0;
    }

    .checkbox_ui{
        margin-top: 24px;
    }

    input[type=submit].button_form{
        margin-top: 12px;
    }

    section.homepage__form-block{
        margin-top: 36px;
    }

    .footer__bottom-img {
        max-width: 223px;
        margin: 0 auto;
    }

    .faq__qestion-wrapper .qestion-wrapper__qestion .qestion__count {
        margin-right: 13px;
        min-width: 28px;
    }

    .faq__qestion-wrapper .qestion-wrapper__button .qestion-wrapper__qestion{
        margin-right: 22px;
    }

}
