@media (min-width: 1920px) { 
    header#mastheadx,
    div#page {
        border-right: 1px solid #B3B3B3;
        border-left: 1px solid #B3B3B3;
    }

    #content, .footer__bottom{
        border-right: none;
    }
    
  
}

@media only screen and (min-width: 991px) and (max-width: 1200px) { 
    .works-auth_buttons-auth a:not(.auth-modal .works-auth_buttons-auth a){
        font-size: 17px;
        padding-left: 1vw;
    }
    .works-auth_buttons-auth img {
        margin-right: 7px;
        width: 21px;
    }
    .auth-btn svg {
        width: 21px;
        margin-right: 8px;
    }

}
@media (max-width: 991px) { 
    .site-header__mobile-menu {
        display: block;
    }
    .site-header__menu {
        display: none;
    }
    .header-form__head {
        border-top: 1px solid #B3B3B3;
    }

    
    section.homepage__header {
        height: auto;
    }
    
   
    .header-form_body {
        display: flex;
        flex-flow: row;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .homepage__header-form .header-form_body-title {
        text-align: left;
        margin: 0;
        height: 100%;
        width: 50%;
        padding-top: 44px;
        padding-right: 25px;
    }
    
    .header-form_body form {
        height: 100%;
        width: 67%;
        max-width: none;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .header-form_body form .wpcf7-list-item-label{
        font-size: 14px;
    }

    .wpcf7-checkbox input[type=checkbox] + span:before{
        top: 6px;
    }

    .header-form_body .wpcf7 {
        width: 50%;
        border-left: 1px solid #B3B3B3;
        padding-bottom: 0;
    }

    .header-form_body form .form-control{
        min-width: 250px;
    }
    
    .bottom-bar__wrapper a:last-child {
        margin-right: 60px;
    }
    
    .footer__bottom-qr {
        margin-top: 24px;
    }

    .homepage__banner-background br {
        display: none;
    }
    .about-col__descript {
        margin-bottom: 25px;
    }
    footer.footer__bottom .row {
        flex-flow: column-reverse;
    }
      
    section.homepage__form-block {
        padding-bottom: 50px;
        background-size: inherit;
    }
    
    .footer__bottom-button {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    
    .footer__bottom .button_ui {
        max-width: 320px;
        width: 100%;
    }
    .faq__qestions-block{
        margin-top: 80px;
        border-top: 1px solid #E1E1E1;
    } 

    section.homepage__header.homepage__header_st2{
        height: inherit;
        min-height: inherit;
    }

    .works-items.items-col-4 .works-item {
        width: 50%;
    }

    .border_row .col-lg-6:first-child{
        border-right: none;
    }

    section.homepage__about.desctop-screen.sticky-top{
        position: inherit;
    }

    section.homepage__about{
        padding-bottom: 0;
    }

    .homepage__about-col{
        display: block;
        padding-top: 60px;
        margin-bottom: 55px;
    }

    .about-col-section{
        display: none;
    }
   
    section.homepage__form-block #sign-up-block.container-fluid {
        padding-top: 70px;
        margin-top: -70px;
    }

    .homepage__about-subtitle{
        flex-direction: column;
        margin-left: 12px;
    }

    .homepage__about a.button_ui{
        margin: 0 auto;
    }

    .homepage__about-subtitle .subtitle-text{
        order: -1;
        margin-bottom: 30px;
    }

    .footer__bottom-img video#videoback{
        margin: 60px 0;
        max-width: 260px;
    }

    .footer__bottom .title_ui{
        padding-top: 0;
    }

    .form-block__body .header-form_body-title{
        margin-bottom: 42px;
    }

    .homepage__header_st2 .border_row .col-lg-6,
    .homepage__header_st2 .border_row .col-lg-6:first-child{
        width: 100%;
    }

    .homepage__header_st2 .header-form__head{
        border-left: 0;
    }
    .homepage__header_st2 .works-items.items-col-2 .works-item{
        border-right: 1px solid #B3B3B3;
        border-left: 0;
    }
    .homepage__header_st2 .works-items.items-col-2 .works-item:nth-child(2n),
    .works-items.items-col-4 .works-item:nth-child(2n){
        border-right: 0;
    }

    .homepage__header_st2 .header-banner__title{
        margin-bottom: 75px;
    }

    .works-item_simple:nth-child(4n){
        border-right: 1px solid #B3B3B3;
    }

    .works-item.empty-item{
        display: none;
    }

    .works-item.empty-item.first-odd-item{
        display: block;
    }
    
    .homepage__items_st2 .works-item:last-child, 
    .works-item_simple:nth-child(4n){
        border-right: 1px solid #B3B3B3;
    }

    .header-banner__title h1.title_ui{
        margin-bottom: 23px;
    }

    .subscribe-section{
        border-right: 0;
    }

}

@media (max-width: 768px) { 
    input[type=submit].button_form{
        height: 85px;
        max-width: 275px;
    }

    .subscribe-form input[type=submit].button_form{
        margin-top: 0;
    }

    .subscribe-form input[type=submit].button_form{
        height: 60px;
        line-height: 0;
    }

    input.input_ui{
        height: 60px;
    }

    .wpcf7-list-item-label{
        font-size: 14px;
    }

    .homepage__form-block .form-block__title{
        padding-bottom:12px;
    }

    .form-block__body .header-form_body-title{
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 24px;
    }

    .form-block__body .wpcf7{
        margin-top: 45px;
    }

    .wpcf7-checkbox input[type=checkbox] + span:before {
        top: 3px;
    }
    
    .form-block__body input[type=submit].button_form{
        max-width: 380px;
    }

    .sticky-top.middle-screen{
        position: inherit;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .small-screen{
        margin-bottom: 32px;
        padding-bottom: 61px;
    }

    .header-banner__bottom{
        position: inherit;
    }

    .about-col{
        margin: 53px 0;
        padding-top: 0;
    }

    .homepage__banner-subtitle{
        font-size: 70px;
    }

    .homepage__banner-title p{
        font-size: 90px;
    }
    
    section.homepage__header{
        margin-top: 140px;
    }

    .wpcf7-acceptance input[type="checkbox"]{
        margin-top: 2px;
    }

    .checkbox_ui .wpcf7-list-item-label:before{
        top: 1px;
    }

    section.homepage__header.homepage__header_st2{
        margin-top: 108px;
    }

    .works-item .works-auth_text {
        font-size: 20px;
    }

    .works-item .works-auth_buttons-auth .g-button,
    .works-item .works-auth_buttons-auth .f-button{
        width: 46px;
        padding: 8px;
        justify-content: center;
        border-radius: 100%;
    }

    .works-item .works-auth_buttons-auth img{
        margin-right: 0;
        width: 28px;
    }

    .works-auth_block{
        display: none;
    }

    .item-page__title-block .item-page__title{
        font-size: 30px;
    }

}

@media (max-width: 680px) { 
    .footer__bottom-contact_mobile {
        display: block;
    }

    .title_ui {
        font-size: 30px;
        line-height: 30px;
    }

    .header-form_body {
        flex-flow: column;
        height: auto;
        align-items: center;
    }
    .footer__bottom-qr {
        display: none;
    }

    .footer__bottom-qr-mobile {
        text-align: center;
    }

    .footer__bottom-qr-mobile { 
        display: block;
    }
    
    .header-form_body form {
        width: 100%;
        border: 0px;
        padding: 0px 0px 38px 0px;
    }
    
    .homepage__header-form .header-form_body-title {
        text-align: center;
        width: 100%;
        padding: 40px 0;
        font-size: 24px;
    }


    .header-banner__title {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .header-banner__title h1.title_ui {
        font-size: 30px;
        line-height: 110%;
        margin-top: -7px;
        margin-bottom: 10px;
    }

    .header-banner__title h1.title_ui br {
        display: none;
    }
    .bottom-bar.fixed-bottom {
        display: none;
    }

    .footer__bottom .title_ui{
        line-height: 110%;
    }

    .footer__bottom-contact {
        display: flex;
        align-items: end;
        padding: 43px 0px 19px 0px;
    }
    
    .footer__bottom-social {
        padding: 0px;
        flex-flow: column;
        width: 50%;
    }
    
    .footer__bottom-contact_mobile {
        display: flex;
        flex-flow: column;
        width: 50%;
    }
    
    .footer__bottom-social a {
        margin: 0px;
        margin-top: 5px;
        text-align: left;
    }
    
    .footer__bottom-contact_mobile a {
        font-size: 12px;
        line-height: 13px;
        text-align: left;
        margin-top: 5px;
        letter-spacing: -0.02em;
        color: #000;
    }
   .faq__section .faq__title{
        font-size: 38px;
    }

    .faq__qestion-wrapper .qestion-wrapper__qestion .qestion__count, 
    .faq__qestion-wrapper .qestion-wrapper__qestion .qestion__title{
        font-size: 20px;
    }

    .qestion-wrapper__body{
        margin-left: 43px;
        font-size: 18px;
        padding-top: 0;
        padding-bottom: 20px;
        padding-left: 14px;
    }

    .faq__qestion-wrapper .qestion-wrapper__button{
        padding: 20px 15px; 
    }

    .works-item__info-wrapper {
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        align-items: center;
    }

    .works-item__like{
        margin-top: 10px;
    }

    a.work-item__wrapper {
        text-align: center;
        margin-top: 15px;
    }

    .works-item__info-wrapper .works-item__about{
        display: none;
    }

    .header-form__head{
        font-size: 43px;
        line-height: 100%;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .homepage__header_st2 .works-items.items-col-2 .works-item {
        width: 50%;
    }

    .header-form_body .wpcf7{
        border: none;
        width: 100%;
    }

    .homepage__about a.button_ui {
        margin: 0 auto;
        margin-top: 5px;
        display: block;
        width: 270px;
        padding: 16px 25px;
    }

    .about-col .about-col__descript{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .about-col .title_ui{
        font-size: 48px;
    }

    section.homepage__about{
        margin-bottom: 0;
    }


    .header-form_body form .wpcf7-list-item-label{
        font-size: 16px;
        margin-left: 15px;
    }

    .form-block__body input[type=submit].button_form {
        max-width: 275px;
    }

    .homepage__form-block .form-block__title{
        font-size: 50px;
        line-height: 95%;
    }

    span#checkbox.form-control{
        padding-right: 0;
    }

    input[type=submit].button_form{
        margin-top: 12px;
        padding-top: 30px;
    }

    .footer__bottom-img {
        max-width: 223px;
        margin: 0 auto;
    }

    .faq__qestion-wrapper .qestion-wrapper__qestion .qestion__count {
        margin-right: 13px;
        min-width: 28px;
    }

    .faq__qestion-wrapper .qestion-wrapper__button .qestion-wrapper__qestion{
        margin-right: 22px;
    }

    .site-content section.homepage__banner {
        padding-top: 61px;
        padding-bottom: 10px;
        border-bottom: 1px solid #B3B3B3;
    }

    .small-screen{
        margin-bottom: 0;padding-bottom: 0;
    }

    .homepage__about .title_ui{
        font-size: 30px;
    }

    .homepage__about-col .title_ui{
        font-size: 42px;
        margin-bottom: 0;
    }

    .about-col{
        margin-bottom: 19px;
        margin-top: 53px;
    }

    .homepage__banner-title{
        font-size: 58px;
    }

    .homepage__banner-background{
        height: 480px;
    }

    .homepage__about-subtitle {
        margin-top: 30px;
    }

    .checkbox_ui{
        margin-bottom: 9px;
        margin-top: 24px;
    }

    section.homepage__form-block{
        padding-bottom: 37px;
    }

    .footer__bottom-img video#videoback{
        margin: 50px 0;
    }

    .homepage__header_st2 .header-banner__title {
        margin-bottom: 63px;
        top: 8em;
    }

    #info-block{
        margin-top: -39px;
    }

    .form-block__body .header-form_body-title{
        margin-bottom: 22px;
    }
    
    input.input_ui{
        margin-bottom: 10px;
    }

    div#cookie-law-info-bar{
        width: 96% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
    }

    .cookie-attention .cookie-info{
        max-width: none;
    }

    a#wt-cli-accept-all-btn{
        font-weight: 600;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .subscribe-section {
        padding-top: 60px;
    }

    .subscribe-section .footer__bottom-social{
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10px;

    }

    .works-items.items-col-4 .works-item{
        width: 50%;
    }

    .works-items .works-item.subscribe-item{
        width: 100%;
        border-right: 0;
    }
    
    .homepage__items_st2 .works-item:last-child{
        /* border-right: 1px solid #B3B3B3; */
    }
    
    .works-item.subscribe-item_last.subscribe-item_even-count{
        display: block;
    }

    .works-item.subscribe-item_even-count{
        display: none;
    }

    .works-item.empty-item.first-odd-item{
        display: none;
    }

    .works-item.empty-item.first-even-item{
        display: block;
    }

    .works-item__img{
        height: 200px;
        margin-top: 28px;
    }

    .header-banner__bottom-items span:not(:last-child){
        margin-right: 55px;
    }

    .works-auth_close,
    .works-auth_close svg{
        width: 23px;
        height: 23px; 
    }

    .works-auth_text{
        margin-top: 60px;
    }

    .auth-modal .works-auth_buttons-auth{
        margin-bottom: 37px;
    }

    .works-item.subscribe-item{
        padding: 16px 10px 21px;
    }

    .works-item__info-wrapper .works-item__name{
        max-width: 46vw;
    }

    .subscribe-item__bottom{
        margin-top: 85px;
    }

}

@media (max-width: 450px) { 
    .homepage__banner-title{
        font-size: 46px;
    }

    .works-item__img {
        height: 150px;
    }

}

@media (max-width: 450px) and (max-height: 840px) {
    .footer__bottom-img video#videoback {
        max-width: 320px;
        margin: 50px 0;
    }

}

@media only screen and (max-height: 750px) {
    .footer__bottom-img video#videoback {
        max-width: 272px;
    }

}

@media only screen and (max-height: 668px) {
    .footer__bottom-img video#videoback {
        max-width: 250px;
    }

}

